* {
    box-sizing: border-box;
  }
  
  body {
   background:  #d7dcdf;
  
    margin: 0;
  }
  /* p{
    color:black;
    text-transform:none;
    text-decoration: solid;
  } */
  .curved-grid {
    list-style: none;
    margin: 20px;
    padding-inline-start: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    --x: 60;
    --y: 100;
    transform-style: preserve-3d;
    perspective: calc(var(--x) * 1vw);
    perspective-origin: center;
    animation: animate-perspective-origin linear 2s;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll, 0) * -1s);
    animation-iteration-count: 1; 
    animation-fill-mode: both;
  
    @supports (animation-timeline: view()) {
      animation: animate-perspective-origin-timeline linear 2s;
      animation-play-state: revert;
      animation-timeline: view();
    }
  
    li {
      aspect-ratio: 16/9;
      border: 5px rgb(0, 0, 0) ridge;
      display: grid;
      place-content: center;
      background: lightgrey;
      border-radius: 8px;
  
      transform-origin: center center;
      transition: transform 0.5s ease-in-out;
      /* Many thanks to mooey and claude for putting up with my nerd snipe*/
      --translatez: calc(
        (
            var(--x) * cos(var(--theta)) / (cos(atan(var(--y) / (2 * var(--x))))) -
              var(--x)
          ) * -1vw
      );
      transform: translatez(var(--translatez)) rotatey(var(--angle));
  
      &:nth-child(4n-3) {
        --theta: 35deg;
        --angle: 35deg;
      }
      &:nth-child(4n-2) {
        --theta: 20deg;
        --angle: 15deg;
      }
      &:nth-child(4n-1) {
        --theta: -20deg;
        --angle: -15deg;
        --mod: -1;
      }
      &:nth-child(4n) {
        --theta: -35deg;
        --angle: -35deg;
        --mod: -1;
      }
  
      &:hover {
        transform: none;
      }
    }
  }
  
  @keyframes animate-perspective-origin {
    0% {
      perspective-origin: 50% 0%;
    }
    100% {
      perspective-origin: 50% 150%;
    }
  }
  
  @keyframes animate-perspective-origin-timeline {
    0% {
      perspective-origin: 50% -10%;
    }
    100% {
      perspective-origin: 50% 110%;
    }
  }
  